/*    section -----------2 start */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.woff2') format('woff2'),
        url('../fonts/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-ExtraLight.woff2') format('woff2'),
        url('../fonts/Poppins-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Light.woff2') format('woff2'),
        url('../fonts/Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.woff2') format('woff2'),
        url('../fonts/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.woff2') format('woff2'),
        url('../fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
        url('../fonts/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts//Poppins-Thin.woff2') format('woff2'),
        url('../fonts/  Poppins-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'poppins';
    font-weight: normal;
    font-style: normal;
    margin: 0;
    padding: 0;
}

/*     section  1 start */

.humburger> i {
    font-family: FontAwesome;
    color: #fff;
    font-size: 33px;
    padding-left: 80px;
    align-items: center;
    display: none;
}

.navbar-1{
    position: absolute;
    width: 100%;
    z-index: 99;
}
.mail> i {
    font-family: FontAwesome;
}

.navbar-side-1 {
    display: flex;
    align-items: center;
    padding: 10px 0;
    padding-left: 4rem;
}
.mail>i {
    padding-right: 10px;
    color: red;
}

.mail> a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}
.navbar-side-2 {
    display: flex;
    justify-content: end;
    align-items: center;
    
}

.navbar-text {
    padding-right: 30px;
}
button.dropdown-toggle {
    border: none;
    background-color: #fff;
}
button.dropdown-toggle {
    border: none;
    background-color: transparent;
    color: #fff;
}
ul.navbar-2-side-1 {
    display: flex;
    align-items: center;
    padding: 14px;
    padding-left: 4rem;
    margin: 0;
}

ul.navbar-2-side-1 > li {
    list-style: none;
    margin-right: 2.5rem;
}

ul.navbar-2-side-1 > li> a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}

.navbar-side-1>:nth-child(2) {
    margin-left: 2.5rem;
}
.navbar-text>a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}
.navside {
    padding: 12px 0;
    position: relative;
    margin: 0;
}

.navside::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 50px;
    background-color: #000;
}
.row.navside-1 {
    background-color: #000;
    margin: 0;
}
ul.navbar-2-side-2 {
    display: flex;
    align-items: center;
    margin: 0;
    justify-content: flex-end;
}
ul.navbar-2-side-2> li {
    margin-left: 3rem;
    list-style: none;
}ul.navbar-2-side-2> li>a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}
button.nav-btn {
    padding: 14px 23px;
    border: none;
    color: #fff;
    background-color: red;
    font-size: 16px;
    font-weight: 600;
}
.banner-videos {
    position: relative;
}
.main-text {
    position: absolute;
    top: 50%;
    width: 65%;
    left: 20%;
    z-index: 999;
    transform: translateY(-50%);
}
.logo> img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.logo {
    position: absolute;
    top: 0;
    height: 120px;
    width: clamp(126px,13.7vw,200px);
    background-color: #fff;
}
.main-text> h1 {
    font-size: clamp(18px,6.4vw,66px);
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
    line-height: 1.2;
}
.main-text> h1> span {
    color: #080866;
}.header-main {
    display: flex;
    align-items: center;
    gap: clamp(10px ,2.4vw,40px);
    padding-top: 26px;
    flex-wrap: wrap;
}

.header-text>p>i {
    font-family: FontAwesome;
    color: #080866;
    padding-right: 11px;
    font-size: 18px;
}

.header-text> p {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    margin: 0;
    padding-bottom: 10px;
}

.header-number>span {
    font-size: 70px;
    color: #ffffff91;
}

.header-number> span>i {
    color: #fff;
}
.last-banner-img {
    position: absolute;
    bottom: -50px;
    height: clamp(90px,23.4vw,200px);
    width: clamp(90px, 23.4vw, 200px);
    z-index: 9999;
    border: 6px solid #fff;
    border-radius: 100px;
    left: 40%;
}

.last-banner-img> img {
    height: 100%;
    width: 100%;
    border-radius: 100px;
    object-fit: cover;
}
/*     section  1 end */














.section-2 {
    padding: 100px 0;
}

.section-2-main>span {
    font-size: 14px;
    font-weight: 600;
    margin-left: 10px;
    color: red;
}

.section-2-main>img {
    filter: brightness(0) saturate(100%) invert(14%) sepia(89%) saturate(7491%) hue-rotate(360deg) brightness(110%) contrast(108%);
}

.section-2-img>img {
    width: 100%;
    height: 100%;
}

.section-2-main>h1 {
    font-size: clamp(20px, 3vw, 36px);
    font-weight: 800;
    line-height: 1.4;
    margin: 0;
    padding: 14px 0;
}

.section-2-main>p {
    font-size: clamp(10px, 1.3vw, 16px);
    font-weight: 500;
    color: #717375;
    width: 90%;
    line-height: 1.7;
    margin: 0;
    padding-bottom: 20px;
}

.inner-border {
    border: 1px solid #80808061;
    padding: 15px;
}

.section-2-item {
    display: flex;
    align-items: center;
    gap: 24px;
}

.section-2-inner-aria-2 {
    background-color: #f3eeee;
    padding: 20px;
    width: 95px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.section-2-about {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.section-2-inner-aria {
    width: 70%;
}

.section2 {
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-2inner-text>h4 {
    font-size: 16px;
    font-weight: 800;
    margin: 0;
    font-family: 'Poppins';
}

.section-2-pera>p {
    font-size: 14px;
    font-weight: 500;
    color: #968f8f;
}

.section2>img {
    filter: invert(1);
}

.section-2nd {
    height: 55px;
    width: 55px;
    background-color: transparent;
    border: 3px solid red;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.nd-text h4 {
    font-size: 20px;
    font-weight: 600;
}

.nd-text>p {
    font-size: 14px;
    font-weight: 600;
    color: #645e5e;
    padding-bottom: 30px;
}

.section-2nd-img {
    height: 60px;
    width: 60px;
    background-color: #000;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-2nd-img>img {
    filter: invert(1);
}


.section2-last {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.last-section-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.last-section-2>p {
    color: gray;
    font-size: 12px;
    font-weight: 600;
    margin: 0;
}

.section-2-pera {
    color: red;
}

.last-section-2>img {
    margin-right: 20px;
    width: 30px;
    height: 30px;
}

button.section-2-btn {
    padding: 8px 20px;
    border-radius: 6px;
    background-color: red;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none;
}

span.btn-img {
    filter: invert(1);
}

/*    section -----------2 end */

/*    section -----------3 start */
.section-3-bg-img {
    /* color: black; */
    background-image: linear-gradient(#070707b0, #070707b0), url(../images/section-3/background-image.jpg);
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.section-3-head {
    text-align: center;
    padding: 5rem 0;
}

.section-3-head>img {
    filter: brightness(0) saturate(100%) invert(14%) sepia(89%) saturate(7491%) hue-rotate(360deg) brightness(110%) contrast(108%);
}

.section-3-head>span {
    font-size: 14px;
    font-weight: 600;
    color: red;
    padding: 0 10px;
}

.section-3-head>h4 {
    font-size: clamp(20px, 4vw, 40px);
    font-weight: 700;
    color: #fff;
    margin: 0;
    padding: 20px 0;
}

.section-3-text {
    margin-left: auto;
}

.section-3-head>p {
    font-size: clamp(12px, 2vw, 16px);
    font-weight: 400;
    color: #eae0e0;
}

.bg-color {
    background-color: #f2eeee;
    width: 100%;
    height: 100%;

}

span.inner-span {
    position: relative;
}

span.inner-span::before {
    position: absolute;
    content: "\f101";
    font-family: 'FontAwesome';
    left: -10px;
    top: 0;
    font-size: 14px;
}

span.inner-span::after {
    position: absolute;
    content: "\f100";
    font-family: 'FontAwesome';
    font-size: 14px;
    right: -10px;
    top: 0;
}

/*    section -----------3 end */

/*    section -----------4 start */
.margn {
    margin-top: -71.3px;
    padding-bottom: 14rem;

}

.section-3-card-image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    border-bottom: 1px solid #0000001c;
    transition: 0.6s;
    position: relative;
}

.section-3-outer-img {
    position: absolute;
    bottom: -20px;
}

.section-3-outer-img>img {
    filter: brightness(0) saturate(100%) invert(14%) sepia(89%) saturate(7491%) hue-rotate(360deg) brightness(110%) contrast(108%);
}

.section-3-icon>img {
    filter: brightness(0) saturate(100%) invert(14%) sepia(89%) saturate(7491%) hue-rotate(360deg) brightness(110%) contrast(108%);
}

.section-3-icon {
    height: 70px;
    width: 70px;
    background-color: rgb(227 230 227);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.section-3-text>h4 {
    font-size: clamp(30px, 4vw, 44px);
    margin: 0;
}

.section-3-card-body {
    text-align: center;
    padding: 10px;
}

.section-3-card-body>h4 {
    font-size: clamp(12px, 2vw, 20px);
    font-weight: 700;
    margin: 0;
    padding-top: 22px;
}

.section-3-card-body>p {
    font-size: 15px;
    font-weight: 600;
    color: #706464;
    margin: 0;
    padding: 20px 0;
}

.card-inner-img>img {
    height: 100%;
    width: 100%;
}

.main_slider {
    position: relative;
}

.swiper-pagination.inner-arias {
    bottom: -9%;
}

swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
    height: 10px;
    width: 40px;
    border-radius: 10px;
}

.card {
    border-radius: 10px;
}

.card-inner-img>img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.card {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.swiper-slide.swiper-slide-next .card {
    border: 1px solid red;
}

.swiper-slide-next .section-3-icon {
    background-color: red;
    transition: all 0.6s ease;
}

.swiper-slide-next .section-3-icon>img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7498%) hue-rotate(87deg) brightness(114%) contrast(101%);

}

.swiper-slide-next .section-3-text>h4 {
    color: #fff;
}

.section-4-bottom {
    border-top: 5px solid #000;
    position: relative;
    bottom: 130px;
}

.card-1 {
    text-align: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e9e9e9;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: all 0.5s ease;
}

.card-1-img {
    height: 70px;
    width: 70px;
    background-color: #e3cdcd;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-bottom: 20px;
    /* transition: 0.6s; */
}

.swiper-slide.swiper-slide-next .section-3-card-image {
    background: #191919;
    color: #fff;
}

.card-1-text>h4 {
    font-size: 35px;
    font-weight: 800;
    margin: 0;
    /* transition: all 0.3s ease; */
}

.card-1-text>p {
    font-size: 12px;
    font-weight: 700;
    color: rgb(121, 120, 120);
}

.card-1-img>img {
    filter: brightness(0) saturate(100%) invert(14%) sepia(89%) saturate(7491%) hue-rotate(360deg) brightness(110%) contrast(108%);
    /* transition: 0.3s; */
}

.card-1:hover .card-1-img {
    background-color: red;
    transition: 0.6s;
}

.card:hover .card-1-img>img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7427%) hue-rotate(137deg) brightness(123%) contrast(115%);
}

.card-1:hover .card-1-img>img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7427%) hue-rotate(137deg) brightness(123%) contrast(115%);
    /* transition: 0.3s; */
}

.card-1:hover .card-1-text {
    color: #fff;

}

.card-1:hover {
    background-color: #332d2d;
    transition: 0.5s;
}

.card-1:hover .card-1-img {
    border: 3px solid #fff;
    transition: 0.5s;
}

/*    section -----------4 end */


/*    section -----------5 start */


.section-5-bg {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.section-5-inner {
    padding: 0;
    margin-top: 50px;
}

.section-5-inner>h4 {
    color: #000;
}

.m_card-content {
    background-image: url(../images/section-5/background-image.jpg);
    width: 100%;
    background-repeat: no-repeat;
    height: 350px;
    position: relative;
    border-radius: 20px;
    z-index: 0999;
}

.m_card-content::after {
    position: absolute;
    content: "";
    height: 190px;
    width: 190px;
    background-color: #fff;
    left: 50%;
    top: 42%;
    transform: translate(-50%, -50%);
    border-radius: 100px;
}

.inner-5-img {
    z-index: 9999;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    height: 300px;
    width: 170px;
}

.inner-5-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}



.card-2 {
    padding: 10px;
    position: relative;
}

.card-2::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 50%;
    background-color: #ff2d0017;
    top: 0;
    left: 0;
    transition: 0.6s;
}

.section-5-icons {
    display: flex;
    align-items: center;
    gap: 15px;
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 9999;
    flex-wrap: wrap;
}

.connection-icon {
    height: 40px;
    width: 40px;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: 0.5s;
}

.social-media i {
    padding-right: 8px;
    opacity: 0;
    visibility: none;
    transform: translatex(-120px);
}

.section-5-inner-text {
    text-align: center;
    width: 200px;
    background-color: #f1eded;
    border-radius: 40px;
    position: absolute;
    bottom: 0;
    z-index: 9999;
    left: 50%;
    transform: translate(-50%, 24px);
    padding: 10px;
}

.section-5-inner-text>h4 {
    margin: 0;
    font-size: clamp(16px, 3.2vw, 23px);
    font-weight: 700;
}

.section-5-inner-text>p {
    margin: 0;
    font-size: clamp(12px, 2vw, 14px);
    font-weight: 600;
    color: #8e8585;
}

.swiper-pagination.secfive {
    bottom: -55px;
}

.sec-5 {
    position: relative;
}

.sec-5-aria {
    margin-bottom: 45px;
}


.swiper-slide.swiper-slide-next .connection-icon {
    background-color: #000;
    transition: 0.5s;
    transform: rotate(180deg);
}

.connection-icon>img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7488%) hue-rotate(183deg) brightness(94%) contrast(107%);
}

.swiper-slide.swiper-slide-next .social-media>i {
    visibility: visible;
    opacity: 1;
    transition: 0.7s;
    transform: translateX(0);
}

.social-media>i:hover {
    color: red;
}


.swiper-slide.swiper-slide-next .card-2::after {
    background-color: red;
    transition: 0.6s;
}

.swiper-slide.swiper-slide-next .m_card-content {
    filter: grayscale(1);
    transition: 0.5s;
}

/*    section -----------5 end */
/*    section -----------6 start */
.main-section-6 {
    position: relative;
    height: 100%;
    width: 100%;
    padding-top: 50px;
}
.main-section-6:before {
    position: absolute;
    content: ""; 
    height: 90%;
    width: 100%;
    left: 0;
    top: 0;
    background-color:#e3d6d68f;
}


.section-6-main-aria {

    position: relative;
}

.nav {
    justify-content: space-around;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: red;
    color: #fff;
}
.nav-link{
    margin-top: 20px;
}
.nav-pills .nav-link,
.nav-pills .show>.nav-link {
    background-color: #fff;
    color: #000;
    font-size: 27px;
    font-weight: 600;
    height: 130px;
    width: 95%;
    padding-left: 60px;
}

button#pills-home-tab {
    position: relative;
}

button#pills-profile-tab {
    position: relative;
}

button#pills-contact-tab {
    position: relative;
}

button#pills-home-tab::before {
    position: absolute;
    content: "\e5d9";
    font-family: 'Font Awesome 5 Pro';
    left: 10px;
    font-size: 60px;
    top: 12px;
}

button#pills-profile-tab::before {
    position: absolute;
    content: "\e248";
    font-family: 'Font Awesome 5 Pro';
    left: 10px;
    font-size: 60px;
    top: 12px;
}

button#pills-contact-tab::before {
    position: absolute;
    content: "\f0a1";
    font-family: 'Font Awesome 5 Pro';
    left: 10px;
    font-size: 60px;
    top: 12px;
}

.nav-item button::before {
    color: red;
}

.nav-item button.active::before {
    color: #fff !important;
}

.section-5-image>img {
    width: 100%;
    height: 100%;
}

.section-6-inner {
    margin-top: 50px;
}

.section-6-text>h3 {
    font-size: clamp(14px, 3vw, 26px);
    font-weight: 700;
}
.main-section-6:before {
    position: absolute;
    content: "";
    height: 90%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #e1d8d852;
}

.section-6-main-aria {
    position: relative;
}

.number {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 18px 0;
    width: 80%;
    color: #6f6666;
}

.number-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 18px 0;
    width: 70%;
    color: #6f6666;
}

.number-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 18px 0;
    width: 85%;
    color: #6f6666;
}

.number-3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 18px 0;
    width: 60%;
    color: #6f6666;
}

.bottom>p {
    margin: 0;
    font-size: 16px;
    font-weight: 600;

}

.progress-bar {
    background-color: red;
}

.w-65 {
    width: 80%;
}

.w-70 {
    width: 70%;
}

.w-85 {
    width: 85%;
}

.w-60 {
    width: 60%;
}

.pro_2 {
    height: 5px;
}

.section-6-last-aria {
    margin-top: 60px;
    
}

.section-6-inner-content> h3 {
    font-size: clamp(16px, 2.3vw, 24px);
    font-weight: 600;
}

.section-6-inner-content>p {
    margin: 0;
    font-size: 15px;
    font-weight: 600;
    color: #7f7777;
}

.section-6-inner-content {
    padding-left: 40px;
    position: relative;
}
.section-6-inner-content::before {
    position: absolute;
    content: "\f058";
    font-family: 'FontAwesome';
    left: 0;
    font-size: 30px;
    top: 8px;
    color: red;
}
.section-6-inner-content::after {
    position: absolute;
    content: "\f508";
    font-family: FontAwesome;
    right: 0;
    top: 0;
    font-size: 32px;
    height: 70px;
    width: 70px;
    color: #fff;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}   
/*    section -----------5 end */
/*    section -----------6 start */

.login-inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.login-inner p {
    font-size: 14px;
    font-weight: 500;
    color: red;
    margin-bottom: 30px;
    background: #fff;
    z-index: 999;
    padding: 0 2rem;
    position: relative;
    margin: 0;
}

.login-inner::after {
    background-color: #00000030;
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    top: 11px;
    z-index: 1;
}

.login-inner p::before {
    position: absolute;
}

.login-inner p::before {
    position: absolute;
    content: "\f101";
    font-family: 'FontAwesome';
    left: 10px;
    top: 0;
    font-size: 14px;
}

.login-inner p::after {
    position: absolute;
    content: "\f100";
    font-family: 'FontAwesome';
    font-size: 14px;
    right: 10px;
    top: 0;
}

.about-border-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 70px 0;
}

/*  section 6 end */
/*  section 7  start */

.about-brand>img {
    filter: grayscale(1);
    transition: 0.6s;
    border: 1px solid transparent;
    padding: 5px;
}

.about-brand>img:hover {
    filter: brightness(0) saturate(100%) invert(19%) sepia(87%) saturate(7480%) hue-rotate(359deg) brightness(105%) contrast(116%);
    border-color: red;
    transition: 0.6s;
}
span.inner-aria {
    font-size: 15px;
    font-weight: 600;
    color: red;
    position: relative;
    padding-left: 25px;
}

span.inner-aria:before {
    position: absolute;
    content: "\f324";
    font-family: FontAwesome;
    left: 0px;
}

.section-7-first-side> h3 {
    font-size: clamp(20px, 3.2vw, 34px);
    font-weight: 700;
    margin: 15px 0;
    line-height: 1.3;
    position: relative;
}
.section-7-first-side> h3::after {
    position: absolute;
    content: "\f025";
    font-family: 'FontAwesome';
    font-size: 80px;
    right: 50px;
    color: red;
}
.section-7-first-side> p {
    font-size: 14px;
    font-weight: 400;
    color: #6a6464;
    width: 70%;
}
.section-7-first-side {
    box-shadow: rgb(0 0 0 / 9%) -4px 0px 5px;
    padding: 20px;
    border: 4px dashed red;
    border-right: none;
}
.section-7-mail-aria input {
    height: 40px;
    width: 100%;
    border: none;
    background-color: #dce3e3;
    padding: 0 20px;
    margin: 10px 0;
    outline: none;
}
textarea.inner-text_aria {
    outline: none;
    resize: none;
    height: 110px;
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border: none;
    background-color: #dce3e3;
}
.side-section-7{
    background: #2b2929;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-inner {
    background-color: #2b2929;
    text-align: center;
    padding: 40px;
    margin: 0px;
    border: 5px dashed #7f7b7b;
}
.inner-icon i {
    background: #fff;
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: dotted red;
    font-family: FontAwesome;
    font-weight: 900;
    color: red;
    font-size: 40px;
}
.inner-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.section-7-text> p {
    color: #fff;
    font-size: 15px;
    line-height: 2;
}
.section-7-imge> img {
    height: 80px;
    width: 80px;
    border-radius: 50px;
    border: 6px solid #fff;
    object-fit: cover;
}
.section-7-imge>h4 {
    font-size: 15px;
    color: #fff;
    font-weight: 600;
    padding-top: 15px;
    margin: 0;
}
.section-7-imge>p {
    font-size: 12px;
    color: #fff;
    font-weight: 600;
    padding: 5px 0;
}
.section-7-icons> i {
    font-family: fontAwesome;
    color: #e99637;
    font-size: 20px;
}
/*    section -----------7 end   */

/*    section -----------8 start   */
.section-8 {
    padding: 50px;
}
.card-4 {
    background-color: #e2dfdf94;
    overflow: hidden;
    border-radius: 10px;
}

.section-8-first-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2b2929;
    padding-left: 40px;
}

.firt_side {
    margin-top: 20px;
}

.section-8-heading>h4 {
    font-size: 16px;
    font-weight: 600;
    height: 36px;
    width: 120px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.section-8-price> p {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}

.section-8-price> p> span {
    font-size: 16px;
}

.section-8-icon> i {
    font-family: FontAwesome;
    font-size: 40px;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-right: -20px;
    border: 2px dashed #d5b6b6;
    color: red;
}

.section-8-second-side {
    padding:  40px;
}

.section-8-second-side > p {
    font-size: 16px;
    font-weight: 600;
    color: #534e4e;
    padding-left: 30px;
    position: relative;
}

.section-8-second-side p:nth-child(2)::before {
    position: absolute;
    content: "\f057";
    font-family: 'FontAwesome';
    left: 0;
}

.section-8-second-side p::before {
    position: absolute;
    content: "\f058";
    font-family: 'FontAwesome';
    left: 0;
}
.section-8-slider {
    position: relative;
    margin: 40px 0;
}   

.swiper-pagination.secEight {
    bottom: -50px;
}
.swiper-slide.swiper-slide-next .section-8-first-side {
    background-color: red;
    transition: 0.6s;
}

.swiper-slide.swiper-slide-next .section-8-icon> i {
    color: #fff;
    border: 4px solid #fff;
    background-color: #2b2929;
    transition: 0.6s;
}
/*    section -----------8 end   */


/*    section -----------9 start   */
.section-9{
    padding: 60px 0;
    padding-bottom: 0;
}


.section-9-image> img {
    width: 100%;
    border: 4px solid #fff;
}

.section-9-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2b2929;
    width: 100%;
    flex-wrap: wrap;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    padding: 10px 0;
}

.section-9-image {
    margin-right: 6px;
    width: clamp(212px,64.2vw,472px);
    position: relative;
    z-index: 0;
}
.section-9-image::before {
    position: absolute;
    content: "\f0d9";
    font-family: 'FontAwesome';
    color: red;
    font-size: 120px;
    top: 50%;
    transform: translate(-50%, -50%);
    left: -1px;
    z-index: -1;
}

.section-9-text-aria {
    padding-left: 100px;
    padding-right: 20px;
}

.section-9-text-aria> h4 {
    font-size: clamp(16px, 3vw,20px);
    color: #fff;
    margin: 0;
    padding-bottom: 25px;
}

.section-9-email> input {height: 40px;width: 100%;border-radius: 20px;padding: 0 20px;overflow: hidden;}

.section-9-email {
    position: relative;
}
.section-9-btn {
    position: absolute;
    top: 0;
    right: 0px;
}

.section-9-btn> button {
    z-index: 111111111;
    height: 40px;
    width: clamp(30px,21.4vw,109px);
    border: none;
    border-radius: 20px;
    background: red;
    font-size: clamp(10px,3.2vw,16px);
    color: #fff;
}

.images-9> img {
    height: 50px;
    width: 50px;
    border: 4px solid #fff;
    border-radius: 50px;
    margin-right: -20px;
}

.images-9 {
    margin: 20px 0;
}

.images-9> img:nth-child(1) {
    border: none;
}

.images-9 span {
    color: #fff;
    margin-left: 30px;
    position: relative;
}
.images-9 span i {
    color: red;
    font-size: 13px;
}
.section-9-inner-aria> p {
    color: #fff;
} 
 .section-9-inner-aria> p>span {
    color: red;
} 

.section-9-inner-aria> p>span>a {
    color: red;
} 
 /*    section -----------9 end   */

 /*    section -----------10 start   */

 .section-10 {
    padding: 80px 0;
}
.section-10-images>img {
    width: 100%;
    height: 310px;
}
button.section-10-btn {
    height: 35px;
    width: 110px;
    border: none;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    position: relative;
}
span.sec-10-span {
    padding-left: 80px;
    font-size: 14px;
    font-weight: 600;
    color: #686464;
}

button.section-10-btn::after {
    position: absolute;
    content: "\f0da";
    font-family: 'FontAwesome';
    right: -11px;
    font-size: 34px;
    top: -6px;
    color: red;
}
.section-10-body {
    padding: 20px 30px 0 20px;
}

.section-10-body>h4 {
    font-size: clamp(20px,3.2vw,26px);
    font-weight: 700;
    line-height: 1.4;
    margin: 0;
    padding-bottom: 15px;
}

.section-10-body> p {
    font-size: 14px;
    font-weight: 500;
    color: #676060;
    line-height: 1.7;
    margin: 0;
    padding-bottom: 20px;
}

.card-5 {
    border: 1px solid #00000029;
}
.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-top: 1px solid #00000030;
}

.sec-10-icon> i {
    color: #fe8f09;
}
.sec-10-icon> i:nth-child(4) {
    color: gray;
}
.sec-10-icon> i:nth-child(5) {
    color: gray;
}

.sec-10-ancher> a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: gray;
}
.sec-10 {
    padding: 30px 0;
}
.inside-card {
    border: 1px solid #00000026;
}
.section-10-img> img {
    width: 100%;
}

 /*    section -----------10 end   */
/*      footer started */
.footer-bg{
    background-color: #272525;
}
.footer-img> img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer-inside {
    display: flex;
    align-items: center;
    padding: 25px 50px;
    border-bottom: 1px solid #ada3a357;
    justify-content: space-between;
}

.footer-text> h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

.footer-text> p {
    color: #dccfcf;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    padding-top: 4px;
}

.footer-email {
    width: 40%;
}
.footer_img> img {
    width: 100%;
    filter: invert(1);
    height: 100%;
}


.inner-footer {
    padding: 0;
}

h3.footer-heading {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    margin: 0;
    padding-bottom: 20px;
}
.abcd {
    padding: 30px 50px 0 50px;
    border-bottom: 1px solid #ffffff2b;
}
.inner-footer>li {
    list-style: none;
}
.inner-footer>li>a {
    text-decoration: none;
    color: #fff;
    line-height: 2.3;
    font-size: 14px;
    font-weight: 500;
}
.row.navside-1.showbar {
    display: block;
}

ul.inner-footer>li {
    display: flex;
    align-items: baseline;
    gap: 11px;
    line-height: 2.3;
}

ul.inner-footer>li>i {
    color: red;
    font-family: 'FontAwesome';
}
.footer_img>img {
    width: 100%;
    filter: brightness(0) saturate(100%) invert(12%) sepia(32%) saturate(6650%) hue-rotate(235deg) brightness(76%) contrast(119%);
}

.footer-icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.footer-icon>i {
    color: #ece1e1;
    height: 35px;
    width: 35px;
    background-color: #565151;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.footer-img {
    height: 100%;
    position: relative;
    background: #080866;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-footer> img {
    height: 100%;
    width: 100%;
}

.logo-footer {
    /* position: absolute; */
    background: #080866;
}

ul.inner-footer>li>i.fa-clock + a {
    line-height: 1.6;
    
}
.last-footer-aria {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 0;
}

.copy-right-aria>p {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}

.copy-right-aria>p>span {
    color: red;
}

.footer-contact>ul {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0;
}

.footer-contact>ul>li {
    list-style: none;
}

.footer-contact>ul>li>a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}
.footer_img {
    width: clamp(110px ,18.4vw,200px);
}
/*      footer end */
/*      ------  Media query start*/
@media screen and ( max-width: 1399px){
    .mail:nth-child(2) {
        display: none;
    }
}
@media screen and ( max-width: 1199px){
   
    .humburger>i {
        display: block;
    }
    .navside::before{
        display: none;
    }
    .navbar-side-1 {
        display: flex;
        align-items: center;
        padding: 10px 0;
        padding-left: 4rem;
        justify-content: flex-end;
    }
    
.navside-1 {
    height: 100%;
    width: 100%;
    display: none;
}


ul.navbar-2-side-1 {
    display: flex;
    padding: 14px;
    margin: 0;
    flex-direction: column;
    align-items: baseline;
}

ul.navbar-2-side-1 > li {
    list-style: none;
    margin-right: 2.5rem;
}

ul.navbar-2-side-1 > li> a {
    text-decoration: none;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
}

ul.navbar-2-side-2 {
    display: flex;
    margin: 0;
    justify-content: flex-end;
    flex-direction: column;
    align-items: baseline;
}
ul.navbar-2-side-2> li {
    list-style: none;
    margin: 0;
}ul.navbar-2-side-2> li>a {
    text-decoration: none;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
}
}
@media screen and ( max-width: 991px){
    
}
@media screen and ( max-width: 767){
    
}
/*      ------  Media query end*/
